<h1>HOME</h1>

<h2>My Saved Surveys</h2>
<table>
  <tr>
    <td>Date</td>
    <td>Beached Birds</td>
    <td>Marine Debris</td>
    <td>Edit</td>
  </tr>
</table>

<h2>My Completed Surveys</h2>
<table>
  <tr>
    <td>Date</td>
    <td>Beached Birds</td>
    <td>Marine Debris</td>
    <td>Edit</td>
  </tr>
</table>

<%= link_to("Add New Survey", new_survey_path, method: :get) %>
