<h1>What did you find?</h1>

<p>
  Survey Types Collected
  <br>
  <br><checkbox>Beached Bird</checkbox>
  <br><checkbox>Small Marine Debris</checkbox>
  <br><checkbox>Medium Marine Debris</checkbox>
  <br><checkbox>Large Marine Debris</checkbox>

  <%= link_to "Continue to Step 2", survey_edit_who_path(token: @survey.token), method: :get %>
</p>